<!DOCTYPE html>
<html style="height: auto;" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ANG | Dashboard</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="{{url_for('static',filename='admin/dashboard/css.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
 
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/dashboard/jqvmap.css' )}}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/dashboard/adminlte.css' )}}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/dashboard/OverlayScrollbars.css' )}}">

  <link rel="stylesheet" href="{{ url_for('static', filename='admin/dashboard/summernote-bs4.css' )}}">

<body class="sidebar-mini layout-fixed" style="height: auto;">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center" style="height: 0px;">
    <img class="animation__shake" src="{{ url_for('static', filename='admin/test-logo.png' )}}" alt="AdminLTELogo" width="60" height="60">
  </div>


  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="https://adminlte.io/themes/v3/index3.html" class="brand-link">
      <img src="{{ url_for('static', filename='admin/test-logo.png' )}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">PROJECT_ANG</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition"><div class="os-resize-observer-host observed"><div class="os-resize-observer" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer"></div></div><div class="os-content-glue" style="margin: 0px -8px;"></div><div class="os-padding"><div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;"><div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">

    

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        
          <li class="nav-item">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Gallery
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('admin_home')}}" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Reports<span class="badge badge-info right"></span></p></a>
          </li> 
          <li class="nav-item">
            <a href="{{url_for('admin_logout')}}" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Logout<span class="badge badge-info right"></span></p></a>
          </li> 
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 45.9897%; transform: translate(0px);"></div></div></div><div class="os-scrollbar-corner"></div></div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 551px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">

            <ol class="breadcrumb float-sm-right">
              {%if session['user']%}
                {{session['user']}}
              {%endif%}
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <fieldset class="data-box text-center large">
          <legend>Collected Images</legend>
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{% if data.male %}{{data.male+data.female}}{%else%}14{%endif%}</h3>

                  <p>Total Images</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer"></a>
              </div>

            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{% if data.female %}{{data.female}}{%else%}14{%endif%}</h3>

                  <p>Female Data</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{% if data.male %}{{data.male}}{%else%}14{%endif%}</h3>

                  <p>Female Data</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{% if data.male %}{{data.male+data.female-data.images}}{%else%}14{%endif%}</h3>

                  <p>Records Lost</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer"></a>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="d-flex justify-content-between flex-wrap">
            {% if images %}
            {% for image in images %}
            <img src="{{url_for('static',filename='upload/result_image/'+image)}}" height="250px" width="auto" class="py-1">

            {%endfor %}
            {%else%}
            No file Found
            {%endif %}
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>The ANG group</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>ANG</b>
    </div>
  </footer>


<div id="sidebar-overlay"></div></div>
<script src="{{ url_for('static', filename='admin/dashboard/jquery.js' )}}"></script>
<script src="{{ url_for('static', filename='admin/js/bootstrap.js' )}}"></script>
<script src="{{ url_for('static', filename='admin/dashboard/summernote-bs4.js' )}}"></script>


