<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Test ANG</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container flex justify-content-center">
        <img class="w-50" src="{{ url_for('get_video')}}" alt="Video Frame here">
    </div>
</body>
</html>